@media(min-width : 350px) and (max-width : 460px) {
    h1 {
        width: 100%;
        font-size: 0.8em;
        background-color: #03517b;
        text-align: center;
        color: rgb(251, 247, 247);
        height: 30px;
        /* position: relative; */
        position: static;
    }

    #call {
        font-size: 12px;
    }

    body {
        width: 100%;
    }

    .big-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* flex-wrap: wrap; */
        /* font-size: 18px; */
        color: black;
        text-decoration: none;
        height: 120px;
        width: 100%;
        gap: 20px;
        align-items: center;
        /* position: relative; */
    }

    .nav-info {
        color: rgb(81, 79, 79);
        text-decoration: none;
        font-size: 0.8em;
        cursor: pointer;
    }

    .left-container,
    .right-container {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: rgb(255, 255, 255);
        gap: 2% ;
    }

    .lower-container {
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(246, 242, 242);
        width: 100%;
        height: 160px;
        justify-content: center;
        background-color: white;
        position: sticky;
        top: 0;
        /* height: 120px; */
        align-items: center;
        box-shadow: 0px 0px 50px rgb(255, 251, 251);
        cursor: pointer;    
    }

    .lower-left-con {
        display: flex;
        font-size: 0.8em;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* gap: 10px; */
        /* padding-left: 200px; */
    }

    .lower-right-con {
        padding-top: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding-right: 100px; */
        height: 70px;
        /* border: 2px solid black; */
        margin-left:20%;

    }

    
    button {
        height: 35px;
        width: 20%;
        font-size: 0.8em;
        cursor: pointer;
    }
    select{
        height: 10px;
        width: 20%;
        font-size: 0.8em;
        cursor: pointer;height: 30px;

    }

    input {
        height: 25px;
        width: 40%;
        font-size: 10px;
    }

    #sbutt {
        font-size: 10px;
        /* text-align: left; */
        cursor: pointer;
        background-color: #03517b;
        color: white;
        height: 30px;
        cursor: pointer;

    }



    .nav-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* gap: 30px; */
        border: 1px solid rgb(213, 207, 207);
        height: 200px;
        width:100%;
        /* padding: 7px; */
        position: static;
        align-items: center;
    }

    .nav-elements {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.8em;
        cursor: pointer;
    }

    #image,
    .img-container {
        height: 250px;
        width:100%;
        cursor: pointer;
    }

    #text1 {
        font-size: 1.1em;
        margin: 20px;
        color: #04517b;
        width: 400px;

    }

    .lower1 {
        height: 50px;
        width: 20%;
        /* gap: 20px; */
        /* border: 1px solid rgb(227, 217, 217); */
    }

    .lower-img {
        height: 150px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* gap: 60px; */
        margin-bottom: 10px;
        cursor: pointer;
    }


    .category-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border: 2px solid red; */
        width: 100%;
        /* flex-direction: column; */
        flex-wrap: wrap;
        gap: 20px;

    }

    h3 {
        font-size: 1em;
        margin-left: 10%;
        margin-top: 20px;
        color: #03517b;
    }

    .category-box {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        border: 1px solid rgb(170, 168, 168);
    }
    .category-image{
        width: 50%;

    }
    h2 {
        text-align: center;
        margin: 20px;
    }

    .category-desc {
        text-align: center;
        font-size: 0.8em;
        margin: 10px;
    }

    .shop-button {
        text-align: center;
        margin:  0% 25% 10% 25% ;
        width: 50%;
        background-color: #03517b;
        color: white;
        border-radius: 15px;
        font-size: 10px;
        cursor: pointer;
        /* margin-bottom: 20px; */
    }

    #m-text{
    font-size:1em;
    margin-left: 10%;
}

.section-2{
    display: flex;
    justify-content: center;
    align-items: left;
    /* border: 2px solid black ; */
    width:100%;

}
.colle-image{
   width: 100%;
   /* border: 2px solid rgb(191, 184, 184); */
   border-radius: 10px;
   box-shadow: 0 2px 2px rgba(0,0,0,0.2);
   cursor: pointer;
}
.middle-container{  
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* border: 2px solid black; */
   width: 90%;
   gap: 10px;
}
.middle-1-container{
     width: 100%;
     display: flex;
     justify-content: center;

}
.middle-2-container{
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;    

}


.middle-21{
  width: 90%;
  /* border: 2px solid rgb(255, 246, 246); */
  border-radius: 20px;
  gap: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
   overflow: hidden;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

}
.middle-container-img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.middle-container-img:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.last-image{
    font-size: 1.2em;
    cursor: pointer;

}
.last-desc{
    font-size: 1em;
    text-align: left;
    margin-left: 10px;
    color: rgb(104, 106, 108);
}
.last-butt{
  text-align: center;
  align-items: center;
  margin-bottom: 5px;
  color: white;
  background-color: #03517b;
  border-radius: 20px;
  height: 55px;
  width: 57%;
  margin-left: 30px;
  font-size: 15px;
  cursor: pointer;

}



.footer-upper{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    background-color: #03517b;
    color: white;
    align-items: center;
    cursor: pointer;
    /* margin-bottom: 100px; */

}
.upper-left{
    font-size: 0.8em;
    /* border: 2px solid black; */
    height: 100px;
    width: 80%;
    gap: 0px;

}
#email-input{
  height: 30px;
  width: 75%;

}
#sub-butt{
    height: 35px;
  width: 25%;
  background-color:#007dc3;;
  color: white;
  border-radius: 2px;
  

}
.upper-right{
    display: flex;
    justify-content: space-around;
    width: 70%;
    font-size: 1em;
    /* border: 2px solid black; */
}
.upper-left-lower{
  height: 15px;
  display: flex;

}


.footer-middle{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width:100%;
    height: 1700px;
    /* font-size: 5px; */
    background-color: #054365;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h5{
    font-size: 30px;
    margin: 0px 10px 0px 80px;
    text-align: center;
    width: 60%;
}
h6{
    margin-bottom: 50px;
    font-size: 1em;
    margin: 0px 10px 0px 80px;
    text-align: center;
    width: 60%;
    display: none;
}
.middle-l{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    /* font-size: 0.9em; */
    cursor: pointer;
    height: 400px;
    text-align: center;

}
.middle-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    line-height: 30px;
    height: 300px;
    width: 100%;
    

}
.footer-lower{
    text-align: center;
    height: 40px;
    width: 100%;
    font-size: 0.8em;
    background-color: #04517b;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}



}