@import url("style.css");

*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
h1{
   font-size: 19px;
   background-color: #03517b;
   text-align: center;
   color: white;
   height: 30px;
   /* position: relative; */
    position: static;
}
#call{
    font-size: 18px;   
}
.big-container{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    color: black;
    text-decoration: none;
    position: static;
    height: 80px;
    align-items: center;
    /* position: relative; */
}
.nav-info{
    color: rgb(81, 79, 79);
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
}
.left-container ,.right-container{
    display: flex;
    justify-content: space-around;
    width:30%;
    background-color: rgb(255, 255, 255);
    gap: 2px;
    cursor: pointer;
}


.lower-container{
    display: flex;
    border: 1px solid rgb(246, 242, 242);
    width: 100%;
    justify-content: center;
    background-color: white;
    position: sticky;
    top: 0;
    height: 100px;
    align-items: center;
    box-shadow: 0px 0px 50px    rgb(255, 251, 251);

    
}


.lower-left-con{
    display: flex;
    font-size: 10px;
    width: 40%;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* padding-left: 200px; */
    cursor: pointer;
}
#logo{
    
}
#title-text{
    gap: 10px;
}
b{
    font-size: 30px;
    color:#03517b;

}
#text{
    width: 300px;
    font-size: 25px;
    color:#03517b;
}


.lower-right-con{
    padding-top: 10px;
    width: 40%;
    display: flex;
    align-items: center;
    padding-right: 100px;
    height: 50px;
    /* border: 2px solid black; */
    cursor: pointer;
    
}
select,button{
    height: 50px;
    width: 150px;
    font-size: 20px;
}
input{
    height: 50px;
    width: 400px;
    font-size: 20px;
}
#sbutt{
    font-size: 20px;
    text-align: left;
    cursor: pointer;
    background-color: #03517b;
    color: white;
    height: 50px;
    cursor: pointer;

}

.nav-div{
    display: flex;
    gap: 25px;
    justify-content: center;
    border: 1px solid rgb(213, 207, 207);
    height: 35px;
    padding: 7px;
    position: static;
    height: 50px;
    align-items: center;
}
.nav-elements{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}
#image , .img-container{
  height: 500px;
  width: 100%;
  cursor: pointer;
}
#text1{
  font-size: 30px;
  margin-left:300px;
  color: #04517b;
  width: 417px;

}
.lower1{
    height: 140px;
    width: 200px;
    gap: 20px;
     /* border: 1px solid rgb(227, 217, 217); */
}

.lower-img{
    height: 150px;
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 40px;
}
.section-1{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.category-container{
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    width: 90%;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 20px;

}
h3{
    font-size: 27px;
    margin-left: 18%;
    margin-top: 40px;
    color: #03517b;
}
.category-box{
    width: 35%;
    height: 250px;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(170, 168, 168);
}
h2{
    text-align: center;
    margin: 20px;
}
.category-desc{
    text-align: center;
    font-size: 1.2em;
    margin: 20px;
}
.shop-button{
  text-align: center;
  margin-left: 25%;
  width: 54%;
  background-color: #03517b;
  color: white;
  border-radius: 21px;
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;
}

#m-text{
    font-size:30px;
    margin-left: 18%;
}

.section-2{
    display: flex;
    justify-content: center;
    /* border: 2px solid black ; */
    width: 100%;

}
.colle-image{
   width: 80%;
   /* border: 2px solid rgb(191, 184, 184); */
   border-radius: 10px;
   box-shadow: 0 2px 2px rgba(0,0,0,0.2);
   cursor: pointer;
}
.middle-container{  
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* border: 2px solid black; */
   width: 80%;
   gap: 30px;
}
.middle-1-container{
     width: 100%;
     display: flex;
     justify-content: center;

}
.middle-2-container{
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: center;    

}
.middle-21{
  width: 25%;
  /* border: 2px solid rgb(255, 246, 246); */
  border-radius: 20px;
  gap: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
   overflow: hidden;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.middle-container-img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.middle-container-img:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.last-image{
    font-size: 1.8em;

}
.last-desc{
    font-size: 1.3em;
    text-align: left;
    margin-left: 10px;
    color: rgb(104, 106, 108);
}
.last-butt{
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
  color: white;
  background-color: #03517b;
  border-radius: 23px;
  height: 55px;
  width: 57%;
  margin-left: 40px;
  cursor: pointer;

}



/* Footer Section  */
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-upper{
    display: flex;
    border: 2px solid black;
    justify-content: space-around;
    width: 100%;
    height: 150px;
    background-color: #03517b;
    color: white;
    align-items: center;
    cursor: pointer;

}
.upper-left{
    font-size: 1.2em;
    /* border: 2px solid black; */
    height: 100px;
    width: 40%;
    gap: 0px;

}
#email-input{
  height: 50px;
  width: 70%;

}
#sub-butt{
    height: 50px;
  width: 20%;
  background-color:#007dc3;;
  color: white;
  border-radius: 2px;
  

}
.upper-right{
    display: flex;
    justify-content: space-around;
    width: 30%;
    font-size: 2em;
    /* border: 2px solid black; */
}
.upper-left-lower{
  height: 30px;
  display: flex;

}

.footer-middle{
    display: flex;
    justify-content: center;
    gap: 120px;
    width: 100%;
    height: 600px;
    font-size: 1.2em;
    background-color: #054365;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.middle-l{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    font-size: 1.1em;
    cursor: pointer;

}
h5{
    font-size: 1.3em;
    margin: 30px 15px 30px 0px;
}
h6{
    font-size: 1.3em;
    margin: 30px 15px 30px 0px;
}


.middle-2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1em;
    line-height: 40px;

}
.footer-lower{
    text-align: center;
    height: 40px;
    font-size: 1.2em;
    background-color: #04517b;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}


